*{
	font-family:cursive;
	text-align:center;
}
h1{
	text-align:center;
	color:#19DEFF;
}
.logo{
	position:relative;
	width:240px;
	height:80px;
}
img{
	height:300px;
	width:200px;
}
p{
	color:#E75556;
}
body{
  	background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://scontent.xx.fbcdn.net/v/t1.15752-9/306570772_1165565351052973_8373373740029289476_n.png?_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGdWTMUNC5AwE-aFzziYHKPKof72mXCZfYqh_vaZcJl9m9qhKbheJkw8127vINyKVd-ChWSyResA-vGVBX19ogY&_nc_ohc=sXzo5Q0bSvoAX9_GULh&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRbv4zTQIHaPNNFoNfa-4gYI-zOgX4PEmsloveIkE7i7g&oe=6380C4DE");
	background-size:cover;
	background:-repeat;no-repeat;
	background-position:center;
}
.hero-btn
{
	display: inline-block;
	text-decoration: none;
	color:#19DEFF;
	border: 1px solid #19DEFF;;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}